.chars__container {
  display: grid;
  gap: var(--white-space--medium);
  grid-template-columns: minmax(auto, 61.8%) max-content;
}

.custom-chars__container {
  display: flex;
  flex-direction: column;
  textarea {
    flex-grow: 1;
  }
}

.submit-button__container {
  display: grid;
  position: relative;
}

.request-progress {
  justify-self: center;
  padding-block-start: var(--white-space--small);
  position: absolute;
  top: 100%;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.submit-button--loading {
  color: transparent !important;
  display: grid;
  place-items: center;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
  }
  &::before {
    animation: spin 200ms linear infinite;
    background: conic-gradient(transparent, transparent, var(--color--off), var(--color--default));
    border-radius: 9px;
    height: 18px;
    width: 18px;
  }
  &::after {
    background-color: var(--bg--button);
    border-radius: 7px;
    height: 14px;
    width: 14px;
  }
}

.output-placeholder {
  border-block-start: none !important;
  padding-block: 0;
  p {
    border-radius: var(--border-radius);
    border: 1px solid var(--line-color--default);
    padding-block: var(--white-space--large);
  }
}

.preview-selects__container {
  display: grid;
  gap: var(--white-space--medium);
  grid-template-columns: repeat(2, 1fr);
  label {
    margin-block-start: 0 !important;
  }
}

$char-gallery-item-size: 50px;
$char-gallery-font-size: 30px;
$char-gallery-gradient: (
  transparent 0px,
  transparent ($char-gallery-item-size - 1),
  $light-grey ($char-gallery-item-size - 1),
  $light-grey $char-gallery-item-size
);

.char-gallery {
  background-image: repeating-linear-gradient(0deg, #{$char-gallery-gradient}),
    repeating-linear-gradient(90deg, #{$char-gallery-gradient});
  background-position: 0px -1px;
  background-size: #{$char-gallery-item-size} #{$char-gallery-item-size};
  border-block-end: none;
  border-block-start: 1px solid var(--line-color--default);
  border-inline-end: none;
  border-inline-start: 1px solid var(--line-color--default);
  display: grid;
  font-size: #{$char-gallery-font-size};
  position: relative;
  &::after {
    background-color: var(--bg--off);
    content: "";
    display: grid;
    height: 100%;
    position: absolute;
    right: 0;
    width: 1px;
  }
}

.char-gallery__layer {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  grid-template-columns: repeat(auto-fill, #{$char-gallery-item-size});
  pointer-events: none;
  &--missing {
    color: var(--color--off);
    font-family: var(--font-family--preview);
    filter: saturate(0.5);
    span {
      background-color: var(--bg--off);
    }
  }
  span {
    place-content: center;
    place-items: center;
    pointer-events: all;
  }
  div,
  span {
    display: grid;
    height: #{$char-gallery-item-size};
    width: #{$char-gallery-item-size};
  }
}
