@font-face {
  font-family: "Noto Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSansArabic-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Sans Symbols";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSansSymbols-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Sans Symbols 2";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSansSymbols2-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Sans Thai";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSansThai-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Serif Armenian";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSerifArmenian-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Serif Bengali";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSerifBengali-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Serif Devanagari";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSerifDevanagari-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Serif Hebrew";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSerifHebrew-Regular.ttf) format("truetype");
}
