@mixin border {
  border-color: $color--t1;
  border-style: solid;
  border-width: 1px;
}

@mixin border-radius {
  border-radius: $bor-rad--m;
}

@mixin box-shadow {
  box-shadow: 0 1px 6px $color--t1, 0 1px 3px 1px $color--t1, 0 1px 1px $color--t0;
}

@mixin box-shadow--mix($mix-color) {
  box-shadow: 0 1px 6px mix($mix-color, $color--t1, 60%), 0 1px 3px 1px $color--t1, 0 1px 1px $color--t0;
}

@mixin box-shadow--mimic-border {
  box-shadow: 0 0 0 1px $color--t1;
}

@mixin box-shadow--in {
  box-shadow: 0 1px 6px $color--t1 inset, 0 1px 3px 1px $color--t1 inset, 0 1px 1px $color--t0 inset;
}

@mixin text-input {
  @include border;
  @include border-radius;
  font-family: $font--monospace;
  font-size: $font-size--s;
  outline: none;
  padding: 0.5rem;
  transition-property: border-color, border-radius, box-shadow;
  transition-duration: $time--m;
  &:active,
  &:hover,
  &:focus {    
    border-color: $color--t2;
    border-radius: $bor-rad--l;
  }
}

@mixin text-shadow {
  text-shadow: 0 0 2px $color--t2;
}
