:root {
  --bg--alert: #{$yellow};
  --bg--button: #{$blue};
  --bg--default: #{$white};
  --bg--error: #{$red};
  --bg--off: #{$light-grey};
  --bg--ok: #{$green};
  --border-radius: #{$border-radius};
  --color--alert: #{darken($yellow, 80%)};
  --color--button: #{darken($blue, 80%)};
  --color--default: #{$black};
  --color--error: #{darken($red, 80%)};
  --color--off: #{$dark-grey};
  --color--ok: #{darken($green, 80%)};
  --font-family--default: #{$font-family--default};
  --font-family--monospace: #{$font-family--monospace};
  --font-family--preview: #{$font-family--preview};
  --font-size--default: #{$font-size--default};
  --font-size--large: #{$font-size--large};
  --font-size--small: #{$font-size--small};
  --font-weight--bolder: #{$font-weight--bolder};
  --font-weight--normal: #{$font-weight--normal};
  --line-color--default: #{$light-grey};
  --line-color--on: #{darken($light-grey, 10%)};
  --shadow-color--button: #{darken($blue, 12%)};
  --shadow-color--default: #{darken($light-grey, 6%)};
  --white-space--large: #{$white-space--large};
  --white-space--medium: #{$white-space--medium};
  --white-space--small: #{$white-space--small};
  accent-color: var(--color--default);
  font-family: var(--font-family--default);
  font-size: var(--font-size--default);
  line-height: 1.5;
}

////////////////////////////////////////////////////////////////////////////////
/// global/base minimum
////////////////////////////////////////////////////////////////////////////////

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--color--default);
}

header {
  padding-block: var(--white-space--small);
}

header,
footer {
  padding-inline: var(--white-space--medium);
}

header,
footer,
p {
  text-align: center;
}

footer {
  font-size: var(--font-size--small);
  padding-block: var(--white-space--large);
}

h1 {
  font-size: var(--font-size--large);
  font-weight: var(--font-weight--bolder);
  translate: 0 1px;
  a {
    text-decoration: none;
  }
}

a {
  color: currentColor;
}

hr {
  border-block-end: 1px solid var(--line-color--default);
  border-inline-start: none;
  border-inline-end: none;
  border-block-start: none;
}

main > * {
  margin-inline: auto;
  max-width: 100%;
  padding-block: var(--white-space--large);
  padding-inline: var(--white-space--medium);
  width: 841px;
  &:last-child {
    padding-block-end: var(--white-space--large);
  }
  & > :first-child {
    margin-block-start: 0 !important;
  }
}

////////////////////////////////////////////////////////////////////////////////
/// form minimum
////////////////////////////////////////////////////////////////////////////////

label {
  width: fit-content;
}

label:not(li label):not([role="heading"] label) {
  display: block;
}

li > label {
  line-height: 1.75;
  align-items: center;
  display: flex;
  gap: 1ch;
}

label:not(li label),
legend,
button,
th,
strong {
  font-weight: var(--font-weight--bolder);
}

label:not(li label):not([role="heading"] label),
fieldset,
button[form],
[role="heading"]:not(fieldset [role="heading"]) {
  margin-block-start: var(--white-space--medium);
}

label,
input[type="checkbox"],
button,
select {
  cursor: pointer;
  user-select: none;
}

input[type="text"],
textarea,
fieldset > * + *,
table + *,
select:not([role="heading"] select) {
  margin-block-start: var(--white-space--small);
}

input[type="text"],
textarea,
button,
select {
  border-radius: var(--border-radius);
  color: inherit;
  font-size: inherit;
}

input[type="text"],
textarea,
select {
  border: 1px solid var(--line-color--default);
  font-family: var(--font-family--monospace);
  &:hover {
    border-color: var(--line-color--on);
  }
}

input[type="text"],
textarea,
select:not([role="heading"] select) {
  width: 100%;
}

input[type="text"],
select:not([role="heading"] select) {
  height: 2.5rem;
}

input[type="text"],
select {
  padding-inline: 1ch;
}

textarea {
  padding: 1ch;
  resize: vertical;
}

fieldset,
button {
  border: none;
}

ul {
  list-style: none;
}

button {
  background-color: var(--bg--button);
  box-shadow:
    0 1px 2px var(--shadow-color--button),
    0 1px 3px var(--shadow-color--button);
  color: var(--color--button);
  font-family: inherit;
  font-weight: var(--font-weight--bolder);
  transition-duration: 120ms;
  transition-property: box-shadow, filter;
  &[form] {
    line-height: 2.25;
    font-size: var(--font-size--large);
    margin-inline: auto;
    padding-inline: 2ch;
  }
  &:not([form]) {
    display: block;
    line-height: 1.75;
    padding-inline: 1ch;
    filter: brightness(1);
  }
  &[disabled] {
    box-shadow: none;
  }
  &:hover:not([disabled]) {
    filter: brightness(1.05);
  }
  &:active:not([disabled]) {
    filter: brightness(0.95);
    box-shadow:
      0 1px 2px var(--shadow-color--button) inset,
      0 1px 3px var(--shadow-color--button) inset;
  }
}

[disabled] {
  color: var(--color--off);
  cursor: default;
  filter: grayscale(1);
}

////////////////////////////////////////////////////////////////////////////////
/// output summary minimum
////////////////////////////////////////////////////////////////////////////////

table {
  border-collapse: collapse;
  line-height: 2;
  [role] {
    border-radius: var(--border-radius);
    margin-inline-start: 2ch;
    position: relative;
    word-break: break-all;
    &:before {
      align-self: center;
      border-inline-start: 1px solid var(--line-color--default);
      content: "";
      height: 61.8%;
      margin-block: auto;
      margin-inline-start: 1ch;
      padding-inline-start: 1ch;
      position: absolute;
      right: 100%;
    }
  }
}

tbody {
  tr > * {
    border-block-end: 1px solid var(--line-color--default);
    border-block-start: 1px solid var(--line-color--default);
    &:nth-last-child(1),
    &:nth-last-child(3):not(:first-child) {
      text-align: left;
      padding-inline-start: 0;
    }
    &:nth-last-child(2),
    &:nth-last-child(4) {
      text-align: right;
      padding-inline-end: 0;
    }
  }
}

tr > * {
  padding-inline: 1ch;
  padding-block: 0.25rem;
}

tr > *:first-child {
  width: 100%;
  text-align: left;
}

[role="status"] {
  &.ok {
    background-color: var(--bg--ok);
    color: var(--color--ok);
  }
}

[role="alert"] {
  background-color: var(--bg--alert);
  color: var(--color--alert);
  &.error {
    background-color: var(--bg--error);
    color: var(--color--error);
  }
}

[role="status"],
[role="alert"] {
  border-radius: var(--border-radius);
  display: inline-flex;
  line-height: 1.75;
  padding-inline: var(--white-space--small);
}

[role="note"] {
  color: var(--color--off);
}

////////////////////////////////////////////////////////////////////////////////
/// output minimum
////////////////////////////////////////////////////////////////////////////////

[role="heading"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  select {
    min-height: 1.75rem;
  }
}

////////////////////////////////////////////////////////////////////////////////
/// preview minimum
////////////////////////////////////////////////////////////////////////////////

// N/A
