$bg: #fff;
$bg--em: #f4f4f4;
$blue: hsl(192, 100%, 66%);
$green: hsl(120, 100%, 66%);
$yellow: hsl(64, 100%, 66%);
$red: hsl(0, 100%, 64%);

$color: #000;
$color--header: $color;
$color--off: #757575;
$color--off--em: #6f6f6f;
$color--on: $color;
$color--t0: #00000008;
$color--t1: #0001;
$color--t2: #0002;

$font-size--s: 13px;
$font-size--m: 15px;
$font-size--l: 18px;

$time--m: 90ms;
$time--l: 130ms;
$time--xl: 360ms;

$max-w: 720px;

$bor-rad--s: 2px;
$bor-rad--m: 3px;
$bor-rad--l: 4px;

$font--default: "Noto Sans", sans-serif;
$font--title: "Oleo Script", serif;
$font--serif: "Bitter", serif;
$font--monospace: "Fira Code", monospace;
