$black: hsl(0, 0%, 0%);
$light-grey: hsl(0, 0%, 90%);
$dark-grey: hsl(0, 0%, 40%);
$white: hsl(0, 0%, 100%);

$red: hsl(5, 100%, 92%);
$yellow: hsl(50, 100%, 88%);
$green: hsl(110, 100%, 88%);
$blue: hsl(200, 100%, 90%);

$font-family--default: '"Noto Sans", sans-serif';
$font-family--monospace: '"Noto Sans Mono", monospace';
$font-family--preview: '\
"Noto Sans (Cyrillic)", \
"Noto Sans (Greek)", \
"Noto Sans (Latin)", \
"Noto Sans Arabic",\
"Noto Sans Devanagari", \
"Noto Sans Hebrew", \
"Noto Sans JP (CJK Symbols and Punctuation, Hiragana, Kangxi Radicals, Katakana)", \
"Noto Sans KR (Hangul)", \
"Noto Sans Thai", \
"Noto Color Emoji", \
sans-serif';

$font-size--large: 20px;
$font-size--default: 15px;
$font-size--small: 13px;

$font-weight--normal: 400;
$font-weight--bolder: 600;

$white-space--large: 50px;
$white-space--medium: 20px;
$white-space--small: 8px;

$border-radius: 6px;
