$black: hsl(0, 0%, 0%);
$dark-grey: hsl(0, 0%, 45%);
$blue: hsl(210, 100%, 88%);
$light-grey: hsl(0, 0%, 90%);
$white: hsl(0, 0%, 100%);

$font-family--default: '"Noto Sans", sans-serif';
$font-family--monospace: '"Noto Sans Mono", monospace';
$font-family--preview: '\
"Noto Sans (Cyrillic)", \
"Noto Sans (Greek)", \
"Noto Sans (Latin)", \
"Noto Sans Arabic",\
"Noto Sans Devanagari", \
"Noto Sans Hebrew", \
"Noto Sans JP (Hiragana)", \
"Noto Sans JP (Kangxi Radicals)",\
"Noto Sans JP (Katakana)", \
"Noto Sans KR (Hangul)", \
"Noto Sans Thai", \
"Noto Color Emoji", \
sans-serif';

$font-size--large: 19px;
$font-size--default: 14.5px;

$font-weight--normal: 400;
$font-weight--bolder: 600;

$white-space--large: 50px;
$white-space--medium: 20px;
$white-space--small: 8px;

$border-radius: 5px;
