@font-face {
  font-family: "Oleo Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rax5HieDvtMOe0iICsUccBhfqU2Zs335QNCd&skey=d18666d540079220&v=v9) format("woff2");
}
/* latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bitter/v17/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8SjYOLjOXQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v12/o-0IIpQlx3QUlC5A4PNr6DRAW_0.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v12/o-0IIpQlx3QUlC5A4PNr4TRAW_0.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v12/o-0IIpQlx3QUlC5A4PNr5DRAW_0.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v12/o-0IIpQlx3QUlC5A4PNr6TRAW_0.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v12/o-0IIpQlx3QUlC5A4PNr5jRAW_0.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v12/o-0IIpQlx3QUlC5A4PNr6jRAW_0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v12/o-0IIpQlx3QUlC5A4PNr6zRAW_0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v12/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v14/o-0NIpQlx3QUlC5A4PNjXhFVadyB1Wk.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v14/o-0NIpQlx3QUlC5A4PNjXhFVYNyB1Wk.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v14/o-0NIpQlx3QUlC5A4PNjXhFVZdyB1Wk.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v14/o-0NIpQlx3QUlC5A4PNjXhFVaNyB1Wk.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v14/o-0NIpQlx3QUlC5A4PNjXhFVZ9yB1Wk.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v14/o-0NIpQlx3QUlC5A4PNjXhFVa9yB1Wk.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v14/o-0NIpQlx3QUlC5A4PNjXhFVatyB1Wk.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v14/o-0NIpQlx3QUlC5A4PNjXhFVZNyB.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJV37Nv7g.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVT7Nv7g.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVz7Nv7g.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVP7Nv7g.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJV77Nv7g.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v10/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Noto Serif Cyrillic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Iaw1J5X9T9RW6j9bNfFoWaCi_.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Noto Serif Cyrillic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Iaw1J5X9T9RW6j9bNfFMWaCi_.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Noto Serif Greek";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Iaw1J5X9T9RW6j9bNfFsWaCi_.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Noto Serif Greek";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Iaw1J5X9T9RW6j9bNfFQWaCi_.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: "Noto Serif Latin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Iaw1J5X9T9RW6j9bNfFkWaCi_.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Noto Serif Latin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Iaw1J5X9T9RW6j9bNfFcWaA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Noto Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSansArabic-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans Symbols";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSansSymbols-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans Symbols 2";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSansSymbols2-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Sans Thai";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSansThai-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Serif Armenian";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSerifArmenian-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Serif Bengali";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSerifBengali-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Serif Devanagari";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSerifDevanagari-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Noto Serif Hebrew";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/NotoSerifHebrew-Regular.ttf) format("truetype");
}
@keyframes appear {
  from {
    opacity: 0;
  }
}
@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}
:root {
  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#root {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  max-height: 100vh;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: inherit;
  font-family: inherit;
}

footer {
  color: #6f6f6f;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-size: 14px;
  margin: auto auto 2rem;
  max-width: 100%;
  padding: 2rem 1rem 0;
  width: 720px;
}
footer > div:last-of-type {
  text-align: right;
  margin-top: auto;
}
footer a {
  text-decoration: underline;
}

h1 {
  display: inline;
  font-family: "Oleo Script", serif;
  font-size: 20px;
  font-weight: 400;
}

header {
  box-shadow: 0 1px 6px rgba(238, 249, 80, 0.6266666667), 0 1px 3px 1px #0001, 0 1px 1px #00000008;
  background-color: #f3ff52;
  color: #000;
  display: flex;
  justify-content: center;
  width: 100%;
}
header .header__content {
  max-width: 100%;
  padding: calc(0.5rem + 2px) 1.5rem 0.5rem;
  margin: 0 1rem;
  width: 720px;
}

input[type=text],
textarea {
  border-color: #0001;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-family: "Fira Code", monospace;
  font-size: 14px;
  outline: none;
  padding: 0.5rem;
  transition-property: border-color, border-radius, box-shadow;
  transition-duration: 90ms;
}
input[type=text]:active, input[type=text]:hover, input[type=text]:focus,
textarea:active,
textarea:hover,
textarea:focus {
  border-color: #0002;
  border-radius: 4px;
}

button,
input[type=submit],
label {
  border: none;
  cursor: pointer;
}

label {
  user-select: none;
}

li {
  list-style: none;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}

* > p:not(:last-of-type) {
  margin-bottom: 1rem;
}

textarea {
  flex-grow: 1;
  min-height: 4rem;
  resize: vertical;
}

strong {
  font-family: "Bitter", serif;
  font-weight: 600;
}

.scrollable {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  height: max-content;
}

.heading {
  font-family: "Bitter", serif;
  margin-bottom: 0.5em;
  margin-top: 2rem;
}
.heading:first-child {
  margin-top: 0;
}

.invalid-input-message {
  animation: 130ms 1 appear ease-out;
  border-left: 1px solid #0001;
  color: #e60000;
  margin-left: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-left: 1rem;
}

.green-element, .green-btn {
  box-shadow: 0 1px 6px rgba(90, 249, 90, 0.6266666667), 0 1px 3px 1px #0001, 0 1px 1px #00000008;
  border-radius: 3px;
  background-color: #5cff5c;
  font-family: "Bitter", serif;
  font-weight: 600;
}
.green-element:active, .green-btn:active {
  background-color: #49df49;
}

.vertical-line {
  min-height: 100%;
  background-color: #0001;
  width: 1px;
  display: flex;
}

.white-box {
  box-shadow: 0 1px 6px #0001, 0 1px 3px 1px #0001, 0 1px 1px #00000008;
  animation: 130ms 1 appear ease-out;
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  padding: 1rem;
  max-width: 100%;
  width: 720px;
}
.white-box .green-btn {
  font-size: 20px;
  padding: calc(0.5rem + 2px) 1rem 0.5rem;
}

.white-box__title {
  display: inline;
  font-size: 20px;
  font-weight: 600;
  padding-right: 0.5rem;
  text-indent: 0.5rem;
}

.warn {
  box-shadow: 0 1px 6px rgba(238, 249, 80, 0.6266666667), 0 1px 3px 1px #0001, 0 1px 1px #00000008;
  background-color: #f3ff52;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 720px;
  padding: 1rem;
}
.warn p {
  font-size: 14px;
  margin-bottom: 0.5em;
  max-width: 67ch;
}
.warn p:last-of-type {
  margin-bottom: 0;
}

.warn__title {
  font-size: 16px;
}

.tabbed-menu {
  flex-direction: column;
}

.tabbed-menu,
.tabbed-menu__tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tabbed-menu__bodies {
  max-width: 100%;
}

.tabbed-menu__body {
  border-color: #0001;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem;
  transition: color 90ms;
  width: 100%;
}
.tabbed-menu__body.textarea-container {
  border: none;
  padding: 0;
}

.tabbed-menu__tab-label {
  border-radius: 3px;
  color: #757575;
  padding: 0.5em 1em;
  transition-duration: 90ms;
  transition-property: color, box-shadow, text-shadow;
}
.tabbed-menu__tab-label:hover {
  box-shadow: 0 0 0 1px #0001;
  color: #000;
}

.tabbed-menu__tab-radio {
  display: none;
}
.tabbed-menu__tab-radio:checked + .tabbed-menu__tab-label {
  box-shadow: 0 1px 6px #0001, 0 1px 3px 1px #0001, 0 1px 1px #00000008;
  color: #000;
}

.chars__title {
  display: grid;
}

.option__checkbox {
  display: none;
}
.option__checkbox:checked + .option__label {
  box-shadow: 0 1px 6px rgba(238, 249, 80, 0.6266666667), 0 1px 3px 1px #0001, 0 1px 1px #00000008;
  border-radius: 3px;
  color: #000;
  will-change: color, border-radius, box-shadow;
}
.option__checkbox:checked + .option__label::before {
  transform: translateX(0%);
  will-change: transform;
}

.option__label {
  display: grid;
  border-radius: 2px;
  color: #757575;
  font-family: "Fira Code", monospace;
  font-variant-ligatures: none;
  font-size: 14px;
  overflow: hidden !important;
  padding: calc(2px + 0.25em) 0.5em 0.25em;
  position: relative;
  transition-duration: 90ms;
  transition-property: color, border-radius, box-shadow;
  word-wrap: break-word;
  z-index: 0;
}
.option__label:hover {
  box-shadow: 0 0 0 1px #0001;
  color: #000;
}
.option__label::before {
  background-color: #f3ff52;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(-104%);
  transition-duration: 130ms;
  transition-property: transform;
  transition-timing-function: ease-out;
  width: 102%;
  z-index: -1;
}

.fonts {
  border-spacing: 0;
  border-collapse: collapse;
}
.fonts tbody tr td:not(:first-of-type) {
  font-size: 14px;
}
.fonts tbody tr th {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
  text-transform: uppercase;
}
.fonts tbody tr th:not(:first-of-type) {
  text-indent: 0.5em;
}
.fonts tbody tr td,
.fonts tbody tr th {
  border-top: 1px solid #00000008;
  border-bottom: 1px solid #00000008;
  padding: 1em;
}
.fonts tbody tr td:first-of-type,
.fonts tbody tr th:first-of-type {
  width: 100%;
}

.font--not-ok > * {
  color: #757575;
}
.font--not-ok > * .no-data {
  text-align: right;
}

.font__name {
  height: 30px;
}

.font__feedback {
  padding: 0.25em 0.5em;
}
.font__feedback.btn {
  border: 1px solid #0001;
  font-size: inherit;
  border-radius: 3px;
}
.font__feedback.secondary, .font__feedback > .secondary {
  color: #757575;
}

.font__copy-btn {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
}
.font__copy-btn:hover .copy-btn__back-paper,
.font__copy-btn:hover .copy-btn__front-paper {
  border-color: #000;
}
.font__copy-btn .copy-btn__back-paper,
.font__copy-btn .copy-btn__front-paper {
  position: absolute;
  border: 2px solid #757575;
  border-radius: 3px;
  height: 15px;
  width: 12px;
}
.font__copy-btn .copy-btn__back-paper {
  bottom: 5px;
  left: 7px;
  border-right: none;
  border-top: none;
}
.font__copy-btn .copy-btn__front-paper {
  outline: 2px solid #fff;
  top: 6px;
  right: 7px;
}

.not-covered-chars {
  border-color: #0001;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 6px #0001, 0 1px 3px 1px #0001, 0 1px 1px #00000008;
  background-color: #f4f4f4;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-height: 60ch;
  max-width: 720px;
  overflow: auto;
  padding: 1em;
  width: fit-content;
}
.not-covered-chars p {
  margin-left: 0.5em;
  margin-bottom: 1em;
}

.not-covered-chars__chars {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}

.not-covered-chars__char {
  border-color: #0001;
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  border-radius: 3px;
  display: grid;
  font-family: "Noto Sans Symbols", "Noto Sans Symbols 2", "Noto Serif Latin", "Noto Serif Armenian", "Noto Serif Bengali", "Noto Serif Cyrillic", "Noto Serif Devanagari", "Noto Serif Greek", "Noto Serif Hebrew", "Noto Sans Arabic", "Noto Sans Thai", serif;
  font-size: 32px;
  height: 2em;
  padding: 0.5em;
  place-content: center;
  width: 1.8em;
}
.not-covered-chars__char span {
  line-height: 2;
}

.modal-window {
  animation: 90ms 1 ease-out appear;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  left: 0;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.modal-window > * {
  scroll-behavior: smooth;
}

.green-btn {
  width: fit-content;
}

.green-btn__container.loading {
  position: relative;
  display: grid;
  place-items: center;
}
.green-btn__container.loading .green-btn {
  cursor: default;
  color: transparent;
}
.green-btn__container.loading::before {
  content: "";
  position: absolute;
  place-self: center;
  height: 1rem;
  width: 1rem;
  filter: drop-shadow(0 0 3px #a4ff00) drop-shadow(0 0 1px #a4ff00);
  border-left: 0.5ex solid #f3ff52;
  border-right: 0.5ex solid #f3ff52;
  border-top: 0.5ex solid transparent;
  border-bottom: 0.5ex solid transparent;
  border-radius: 50%;
  animation: 360ms infinite rotate linear;
}

.input .green-btn__container,
.output > .green-btn {
  margin-top: 2rem;
  align-self: center;
}

/*# sourceMappingURL=main.css.map */
