body[overflow-hidden] {
  overflow: hidden;
  header,
  main,
  footer {
    filter: blur(1px);
  }
}

.char-coverage__modal {
  @extend .flex-column;
  align-items: center;
  background-color: $color--border-shadow;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: $padding--large;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.char-coverage__content {
  @extend .flex-column;
  @extend .max-width;
  background-color: $bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  gap: 2rem;
  max-height: 75%;
  padding: $padding--large;
}

.char-coverage__header {
  align-items: center;
  display: flex;
  font-family: $font-family--monospace;
  justify-content: space-between;
  h2 {
    font-size: 1rem;
    font-weight: inherit;
  }
  button {
    font-family: inherit;
    color: $color--em;
    text-decoration: underline;
  }
}

.char-coverage__styles {
  @extend .bordered-box;
  @extend .flex-wrap-gap;
  padding: 0.5rem;
}

.char-coverage__style {
  @extend .yellow-selection;
}

.char-coverage__chars-fieldset {
  display: flex;
  overflow: auto;
}

.char-coverage__chars {
  @extend .flex-wrap-gap;
}

.char-coverage__char {
  @extend .bordered-box;
  align-items: center;
  display: grid;
  font-size: $font-size--large;
  height: 44px;
  justify-content: center;
  line-height: 1;
  width: 44px;
  &.missing {
    border-color: #c3000010;
    background-color: #c300000b;
    color: #c30000;
    font-family: $font-family--missing-char;
    font-weight: 400;
  }
}
