.disclaimers {
  @extend .flex-column;
  gap: 1rem;
  align-self: center;
  color: $color--em;
  width: 72ch;
}

.disclaimer {
  @extend .bordered-box;
  @extend .flex-column;
  &.warn {
    color: $color;
    background-color: $color--primary;
    border-color: transparent;
    box-shadow: $box-shadow--yellow, $box-shadow;
    & summary::after {
      color: $color--primary;
      content: "!";
    }
  }
  &.warn summary,
  &[open] summary,
  summary:hover {
    color: $color;
    &::after {
      background-color: $color;
    }
  }
  p {
    border-top: 1px solid $color--border-shadow;
  }
  p,
  summary {
    padding: $padding--medium;
    text-align: center;
  }
  summary {
    display: flex;
    cursor: pointer;
    display: grid;
    position: relative;
    &::after {
      align-self: center;
      background-color: $color--em;
      border-radius: 50%;
      color: $bg;
      content: "?";
      line-height: 1.25;
      position: absolute;
      right: 1rem;
      width: 1.25rem;
    }
  }
}
