.font-face {
  table {
    @extend .bordered-box;
    border-spacing: 0;
    font-family: $font-family--monospace;
    text-align: right;
    button {
      @extend .button;
      font-size: inherit;
      padding: $padding--small;
      text-align: center;
      width: 100%;
    }
    thead th,
    tbody tr:not(:last-of-type) td {
      border-bottom: 1px solid $color--border-shadow;
    }
    tbody,
    thead {
      tr > :first-child {
        text-align: left;
      }
    }
    thead {
      text-align: center;
    }
    tfoot th,
    tfoot td {
      border-top: 1px solid $color--border-shadow;
    }
    td,
    th {
      padding: $padding--medium;
      vertical-align: bottom;
      white-space: nowrap;
      width: 100%;
    }
    th {
      @extend .headline--2;
    }
    .regular {
      color: $color--em;
    }
    .good {
      color: #008900;
    }
    .bad {
      color: #c30000;
    }
  }
}

.font-face__item {
  &.has-error {
    color: $color--em;
  }
  .error-description {
    text-align: center;
  }
}
