@font-face {
  font-family: "Noto Sans Arabic";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=nwpxtLGrOAZMl5nJ_wfgRg3DrWFZWsnVBJ_sS6tlqHHFlhQ5l3sQWIHPqzCfyGyvvmgFGdtCU9eO949SuRKgsKMTtuJ0pm9lPiqmU73pphOhM2z03ogniJuXN11Vo1mn5Wt9L0FfjOG5kRpcaz0hIxFELH2gjwM5r6R7Qtuf8dIkQVXcgJm7MzubngtjCwKkzuHiZoJWXYDMvVqfHctR1omMx_eIVa264xOafdt5ZO3Ugm-h47ZYsxHJsxeahbVYugsrkyoYLrKVebsMAt9f5F8WZGTMQP0-Wy8xdqMJv45tLy8xH6ZNvePv-tkPhVbafd1nf0UZAJt-1PU9LcUTUIRSSe9A-JuQVA3qOWUMCdShdKEigQu1oKF6HuawCD4i5FFAbLpSEJyIP5E-ZSL9c1tXBUorBHvr-esgqWQ0UJLC2HEICFGBc7-ZFA6QNUTk1OuMMoxIM8usaMY2Q7F_2XEiZunnMTLAk0_lupVFN2pDW9wzIQ_3TZcEVks0ElJuaANeccab1WOC6RcgPDCMwIzZfX7WoFLxY_eOUabqUWTYM6fJo49QgIE7_zcM25VubMZ_m3NQphojnNhJxbVKl6ocagpOJp5-4YznPKhX7Po0UJmfu3gTcQc7K1VVmVepW1P5Kp68WXzAsM-A6c0VErOkoi54Tg0cSC-d-Vh8GekmUi12-0g1b-d5Py8n0zvSkWixtqHqvpuQIteFhyiAnyZyYPcbZr8ZbOCXJJdZlveHZr4e&skey=f979c51db865377e&v=v18)
    format("woff2");
}
