/* A subset by Fontima from Noto Sans */
@font-face {
  font-family: "Noto Sans (Cyrillic)";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=o-0IIpQlx3QUlC5A4PNb5yarZzAEIemuuHwYOSExNZ8s562tCvC3kHyNTYd3HeWJSWMmJhJF5sboOAg4lmEoIBFXeq3sthyPA3lYA18RWwC38C-3Xh8RG5BJoNTTcpnlX4ITQqV9VV2D4mLPumRDAIEMXV2adKbYvtktB5xHjUb37rJWBIsG2ZzdLnv3n7jSUDB-f8i1BgnJqiC-q__xOT0msUHcx26iQPGaaaOM9zcemECz-xAxk25qFh4KnczlPtqPQ9CDT2O7YjqIZUyILVwZkuCVj-M-BhiMbqKq-3FR47X8BoghwG2grRCbCwlUKflTVY93O0RmxdFnT_aKW0fvkg_2b9sJjubsoxlYmU1NfS9Scor5USOt06FzL872NXMaB6pKCn7vQSnscyGByNNzI0Ai2teNqXV6-3oZ1zlGNM45HiVvRJ2kmLUXHPpXQfIGFsyo1xhqGa5bHcxj__13W4nLInylGxb8j1WWa41h3Iu7lK3_oW5MTO-Am9cXw9ngQ582d4WWUypkyjM9_ine6OKH1UXsHDhE_matlqfYj5O2h9SmFe4Kh1jG9nRMCAYAL9KuEZar7jr9ssDCKi0zN2-xZ39UoTtRX9I34RrfSyOSBEWWIZw_O_HnSPKBJEZsRxVdHAqO4F72Kmk44wP4eCdI1IgGq1loLaDMV5MdR_oETs71wuaUHaWE57hgLj1TWD1TzjZtV8amq0PHiP2FmGkyL4-kZMugChq9O0s54tuKFdwrLdsTjK3_IqgdbD5IFzVL45fDJxQ1HngCZhp1n5wxPMuPgLkrbBcyS3kH2-DZlK2fLokTeP6D68GfuLEw5mlXnyzmYa_Kg9pYDXs&skey=2b960fe17823056f&v=v30)
    format("woff2");
  unicode-range: U+400-52f;
}
