/* A subset by Fontima from Noto Sans Devanagari */
@font-face {
  font-family: "Noto Sans Devanagari";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=TuGoUUFzXI5FBtUq5a8bjKYTZjtRU6Sgv3NaV_SNmI0b8QQCQmHn6B2OHjbL_08AlXQly-UrcFH3XG37cwdlCCnf-iSfnYcrF8meEYQQWtCAJeDsyz3yzzzcxnREEr0Bx9oKDBJjARJ2VqgscrsQSTssQ-ZWhIU5C3j5mC8-uN1VIlruJwMpr8a9FVyB4GEkyNFhEVRnIw6UgzEzMih2UWcT0yEBNYXazcTBL5RU0gbUIGg8aK2lEGPyzldvVBvLQjrqykXWqhSmxRNucig4tkpp_bMtsxQ6HVoYWKHYBj2n_bNMZO4Tekfy29Z9A6aweAODrECJm3RStABCEs20iANtV7xuJsD3egS9he1evWmQ0SennJclq_CkfU-REXBgDEOD6Zt7eHDxNdWQWrNkBqu5XZdbvuV8M2qK8kWj3m8dEUdDA8EBwhgXnFS1GnbJJpmv0LIjPtVRaXBTf7vi18rJUPVX4gfBewkRVLOT0kcvwEQArpwLDeikPiBHP3d2aNaR90cC6hhCzgMRV8QRL-2-VqpWFCxr81dyVBEbNSFaTS2M0xi6lNemmufKJtacPPNG4OBx7Q8f_b76tHz_hLNJHxskuWSx23QTynhFDVTW4TZLYqpsvvyLOOZzRlRPOffidTnqMf5Hm-quV6e0p52UOykOz8KLPYYLDYsmH3MOZ3dzWZd8hR9dU6o&skey=c202a598b7d2afc7&v=v25)
    format("woff2");
}
