/* A subset by Fontima from Noto Sans Hebrew */
@font-face {
  font-family: "Noto Sans Hebrew";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=or3HQ7v33eiDljA1IufXTtVf7V6RvEEdhQlk0LlGxCyaeNKYZC0sqk3xXGiXd4qtpzqBvzzZDSP7o0MrJkiouHmJdY9zbcar1l7fABL67EcyXR6dnwuORqparU5xRgwNV5RRaH03GMAAsIeyN1Dr_fm1PTv2kqxsVI7wvDw8NRWr-BpWyxD_unCeM0rGNeiDktPAYwforoVa5ahJIFOFo9nEr4EQExMgie3FMlCVSyGm4jpuXz0s-fs19gj89L9lGnctiVGjYjxMaWxDWbyU21x55b8XvmU6Atx8OMaBzVfPfKSIJcdpiY6ah0R8YSahQ5ApsktTTG7uo16UTYPXnW0NMhZwCR-njVi0vyataiAIn98k&skey=2dca3e9dc954f0e4&v=v43)
    format("woff2");
}
