/* A subset by Fontima from Noto Sans JP */
@font-face {
  font-family: "Noto Sans JP (Hiragana)";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=-F6jfjtqLzI2JPCgQBnw7HFyzSD-AsregP8VFBEj757AQbbcOUF04DyFxCSuodjz3emtfP3DRkaPjjeFP9SIi1OL1Bggz8dLL3BROj8km69x_dXAbuJAvMkYwEqs0A4Ew4IexHutgIppnfRk-eQJYF8zM7kfp6Uu5cCRPABAnxUgbXQHgJFin-orMZWqopINevr4WJ5wkNcPtDgJGglGJnP_qyQgnZggjcCJ9S7n5cCJDhC_AB4tVxT96nFNbZrpHAHdUNeBAjrd-huqr8xpsAVbGCVIuzL0dedj4HNLLarI3UedrvMI47FxER3nvVEiNSuwbuJq-xM1aHLDgA4-zPchsmKiqQCrPemEg4RswdIej1mvVSN5VaimlQ7YrvNw4cvQq0ROnY-kN1RZkF8CzdUuIL56D4ClRIU&skey=72472b0eb8793570&v=v52)
    format("woff2");
}
