/* A subset by Fontima from Noto Sans JP */
@font-face {
  font-family: "Noto Sans JP (Kangxi Radicals)";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=-F6jfjtqLzI2JPCgQBnw7HFyzSD-AsregP8VFBEj757AVLHdBEB13T-E-SWvnN_y4OisQf7Ce0eOsziEAtWJtlCK6Rkh8sBKEnFQBzwlpq5wwMrBU-NBgcoZ_Uut7QkF_oMf-XisvYtooPtlxOUIXVwyDrgemqIv2MGQAQNBohQhUEsGvZBjoukqDJSrn5UMR_v5ZZ1xrdYOiTcIJwhHG3D-liUhoJ8hsMGIyC3m2MGIMw--PR8sahf813BMUJ3oIQDcbdSAPzvcxxSrks1ojQZaJSRJhjX1SOZi3XBKEKvJ43ickfIJ3LJwLhzmglYjCiqxUeFrxBI0V33Cvw8_8_QgjWOjlgeqAuiFvIdt_tMfsEauaiJ4aqunqg_ZkfRx3srRlEdPooClCFlYr1wD8tAvH7l7MIWke4boTv9UZLMrHByoaEGKtkE5gOlmSLabdO9Df8f3p1XiwnzpZNHQ0YPNhDh-sop7J4QVfRKKxQxr401pEaSV1u60Ax07WHCl8egoQ1CZJ81rAyXeV6_hKODlArNehsr6OHHtdHGcEeTsJKZV-Dsvn_mKzizYwVk4LVpzU-XjO32YTwTZnyU-CNU7S6tfR_pQUjc_KUdJlWuJxv2Oi-0FayWbmr-afsLmF7y6rMbaeeIQUMf7y-qz8KRj9DoFqgwDg7mmlChWdIA0rJH8pU3f_-GapqY6_jFKviAAZZDU3qgkeDjlUDaLE2I_Di5rgH7C8sR-FAqKl2sMws57x-7XaobsIihYl7fqy9OELcqpu9unF9nYRJI7uBIR3r4gvqXrqBAJbQMCGgu-3Cy8jRlywJT80fXgW-4vfGX-txgCaytjgDvbwI_tkgN0JRp-6N_Z2QlssCyb1hE5xTz1fEObUFbc0d3HGKLMksfEBQ8&skey=72472b0eb8793570&v=v52)
    format("woff2");
}
