/* A subset by Fontima from Noto Sans JP */
@font-face {
  font-family: "Noto Sans JP (Katakana)";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=-F6jfjtqLzI2JPCgQBnw7HFyzSD-AsregP8VFBEj757AcLbcOll04ySFxweuov3z3s6tf9jDRWWPjRqFPPuIiH6L1zsgzOJLLFdRORokmIxx_ujAbd1Av_QYw2ms0ysEwKUex16tg6lpntlk-ssJY3IzMJofpIAu5ueRPyVAnDYgbmkHg45inPcrM7aqoLcNeN34WrtwkvQPthUJGCZGJF7_qQcgn70gj-eJ9wvn5-OJDC2_AiEtVSn96FJNb7_pHibdUvKBABnd-DaqreNpsihbGgZIuRf0d8Bj4lZLL4nI3Fqdr-wI4qxxED7nvHQiNAywb8dq-jA1aV_DgSE-zdohs0GiqCWrPM6EgqFswPEejmSvVBx5VJWmlC3Yr9Zw4OzQqmFOnKKkNntZkXICzP4uIZt6DqelRaDpcNlVWpEqIj6pVl-LiF8&skey=72472b0eb8793570&v=v52)
    format("woff2");
}
