/* A subset by Fontima from Noto Sans */
@font-face {
  font-family: "Noto Sans (Latin)";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=o-0IIpQlx3QUlC5A4PNb5yaiZ9ylz0tGGZa53YDXlX-OGQJNuhIGdMpr_m_L91hl842RttrXL1ImrsOgUvvtvNPJpS0sNN0Lxf-bi5Oblox9fugHpq3or27_W2wnyGxZrTzc4nXfhPlVRLFnZs6erFuiNy3xBc6q16pDc_My4TCamcAud_J2o-2mWAeA4sysJU8EH7PUfmuwyV7a1JqNX0BA8yifry7JAZvcBOTgs1hb9gvisUB4wCY4WUtEyYGycozcGoLbHjjrOG3VMxDdcghHyaHPz7p9XlrTK_zupjYNpda1ZMBAiw3qyl39R2wbTbc4JOUHUjcOt74SIYLnLCuZ4XaEF6py_pyb3m8k7DI5A1QzCOqAMlvPrMQNS7ORSRZZbeghSxavKG6CNU7EpJcebxRvj5nX5i4ytTNWnUkNRZpPS1I5PsrfyNNGe6gzEpdafZHAiXE1d_cKRZo4qKcjPs-vZRvhfVOdxzXfCMMDk-b3-OCQ0QA9JZXo4LxrqaSVJetRAOHgNlsOulhOllmbl6j5nDiiYF4_mRzH78yg5tTewbvje6pnxDSLjTo2Q1VEfZf_V8bstXqk87SCfENYL12YPQw_ogl9HaZc0SjwP1r5NXe0W-ZUCcPCNI3qC3R0JVU2ADiVjBucA1snvUWSXhVYiMNslGt9a-ymQaELLatuQ_z-rLT9KZeLte8JGw9RCGU68ARsAZvPmnHD1qPriFwJauzKcP6eRn7TJH4EkrLkOekbX7F9p5jIXMdzSAtif0UlzKLqTWFbNE0vMmwahqkTbLDgnowMKGtdREwjnaG2ppiGbMt8S8udjYbwrIQjiiE4jBnyGA&skey=2b960fe17823056f&v=v30)
    format("woff2");
}
