/* A subset by Fontima from Noto Sans Thai */
@font-face {
  font-family: "Noto Sans Thai";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=iJWnBXeUZi_OHPqn4wq6hQ2_hbJ1xyN9wd43SofNWcd1MKVQt_So_9CdU5RtpzRm1BESbfiMjxDT_FIx66eFETlAclq2T6CCPXFmicJvrzl1cBmuB2IVkka_13xtdQbZHHmfEpd4C7IdX383oU9JJuyH2GgbiR2mk5IaWXdvyy7tiQGCwyD7luyDLkQayKroeQUcSKXeRColrRaoz3uu9aOc3esk-DUakBp76ntTAIUtQVJr0IRz59aoqcH8cJ4aat7Dd6hsu5-AkE72Pymr7RU3G00d7fLHSVY6wu9Pem5iIa0y6NhiV_fedl3Ktwx9ns-NY_4sPRIGYnIr37fGXcj2R7iq4w9rY4YK6t5qn5umiIRT7HBSBSedwnH3UegC-uA3NMgSu42f1o7WmEMaTv02MB--kxsYGogIVKzEUtqGDsY&skey=7ac9f1f92e52f11b&v=v20)
    format("woff2");
}
