.scrollable {
  background-color: $bg--em;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  height: max-content;
}

.heading {
  font-family: $font--serif;
  margin-bottom: 0.5em;
  margin-top: 2rem;
  &:first-child {
    margin-top: 0;
  }
}

.invalid-input-message {
  animation: $time--l 1 appear ease-out;
  border-left: 1px solid $color--t1;
  color: $red;
  margin-left: 1rem;
  font-family: $font--default;
  font-size: $font-size--m;
  font-weight: 400;
  padding-left: 1rem;
}

.white-box {
  @include box-shadow;
  animation: $time--l 1 appear ease-out;
  background-color: $bg;
  border-radius: $bor-rad--m;
  display: flex;
  flex-direction: column;
  opacity: 1;
  padding: 1rem;
  max-width: 100%;
  width: $max-w;
  .green-btn {
    font-size: $font-size--l;
    padding: calc(0.5rem + 2px) 1rem 0.5rem;
  }
}

.white-box__title {
  display: inline;
  font-size: $font-size--l;
  font-weight: 600;
  padding-right: 0.5rem;
  text-indent: 0.5rem;
}

.warn {
  @include box-shadow--mix($yellow);
  background-color: $yellow;
  border-radius: $bor-rad--m;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-w;
  padding: 1rem;
  p {
    font-size: $font-size--s;
    margin-bottom: 0.5em;
    max-width: 67ch;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.warn__title {
  font-size: $font-size--m;
}
