.fonts {
  border-spacing: 0;
  border-collapse: collapse;
  tbody {
    tr {
      td {
        &:not(:first-of-type) {
          font-size: $font-size--s;
        }
      }
      th {
        text-align: left;
        font-weight: 400;
        font-size: $font-size--s;
        color: $color--off;
        text-transform: uppercase;
        &:not(:first-of-type) {
          text-indent: 0.5em;
        }
      }
      td,
      th {
        border-top: 1px solid $color--t0;
        border-bottom: 1px solid $color--t0;
        padding: 1em;
        &:first-of-type {
          width: 100%;
        }
      }
    }
  }
}

.font {
  &--not-ok {
    > * {
      color: $color--off;
      .no-data {
        text-align: right;
      }
    }
  }
}

.font__name {
  height: 30px;
}

.font__feedback {
  padding: 0.25em 0.5em;
  &.btn {
    border: 1px solid $color--t1;
    font-size: inherit;
    border-radius: $bor-rad--m;
  }
  &.secondary,
  & > .secondary {
    color: $color--off;
  }
}

.font__copy-btn {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  &:hover {
    .copy-btn__back-paper,
    .copy-btn__front-paper {
      border-color: $color;
    }
  }
  .copy-btn__back-paper,
  .copy-btn__front-paper {
    position: absolute;
    border: 2px solid $color--off;
    border-radius: $bor-rad--m;
    height: 15px;
    width: 12px;
  }
  .copy-btn__back-paper {
    bottom: 5px;
    left: 7px;
    border-right: none;
    border-top: none;
  }
  .copy-btn__front-paper {
    outline: 2px solid $bg;
    top: 6px;
    right: 7px;
  }
}

.not-covered-chars {
  @include border;
  @include box-shadow;
  background-color: $bg--em;
  border-radius: $bor-rad--m;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-height: 60ch;
  max-width: $max-w;
  overflow: auto;
  padding: 1em;
  width: fit-content;
  p {
    margin-left: 0.5em;
    margin-bottom: 1em;
  }
}

.not-covered-chars__chars {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}

.not-covered-chars__char {
  @include border;
  background-color: $bg;
  border-radius: $bor-rad--m;
  display: grid;
  font-family: "Noto Sans Symbols", "Noto Sans Symbols 2", "Noto Serif Latin", "Noto Serif Armenian",
    "Noto Serif Bengali", "Noto Serif Cyrillic", "Noto Serif Devanagari", "Noto Serif Greek", "Noto Serif Hebrew",
    "Noto Sans Arabic", "Noto Sans Thai", serif;
  font-size: $font-size--l * 1.6;
  height: 2em;
  padding: 0.5em;
  place-content: center;
  width: 1.8em;
  span {
    line-height: 2;
  }
}
