.chars__title {
  display: grid;
}

.option__checkbox {
  display: none;
  &:checked + .option__label {
    @include box-shadow--mix($yellow);
    border-radius: $bor-rad--m;
    color: $color--on;
    will-change: color, border-radius, box-shadow;
    &::before {
      transform: translateX(0%);
      will-change: transform;
    }
  }
}

.option__label {
  display: grid;
  border-radius: $bor-rad--s;
  color: $color--off;
  font-family: $font--monospace;
  font-variant-ligatures: none;
  font-size: $font-size--s;
  overflow: hidden !important;
  padding: calc(2px + 0.25em) 0.5em 0.25em;
  position: relative;
  transition-duration: $time--m;
  transition-property: color, border-radius, box-shadow;
  word-wrap: break-word;
  z-index: 0;
  &:hover {
    @include box-shadow--mimic-border;
    color: $color--on;
  }
  &::before {
    background-color: $yellow;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-104%);
    transition-duration: $time--l;
    transition-property: transform;
    transition-timing-function: ease-out;
    width: 102%;
    z-index: -1;
  }
}
