.monospace {
  font-family: $font--monospace;
}

.spec-input {
  border-color: $border--t2;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-family: $font--base;
  font-size: $font-size--s;
  outline: none;
  padding: 0.5rem;
  transition: border-color $time--m;
  &:hover {
    border-color: $border--t3;
  }
  &:disabled {
    &:active,
    &:hover {
      border-color: $border--t2;
    }
    &:active {
      box-shadow: none;
    }
  }
  &:active,
  &:focus {
    border-color: $border--t3;
    box-shadow: 0 0 0px 2px $shadow--blue;
  }
}

.char-preset {
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
  position: relative;
  &:last-of-type {
    margin-bottom: 0;
  }
  label {
    @extend .spec-input;
    color: $color--em;
    padding: 0.25rem;
    padding-left: 1.75rem;
    padding-right: 0.5rem;
  }
  input {
    left: 0.5rem;
    pointer-events: none;
    position: absolute;
    &:checked + label {
      color: $color;
      border-color: $border--t3;
    }
    &:hover + label {
      color: $color;
    }
  }
}

.font-uri {
  display: flex;
}

.font-face {
  @extend .monospace;
  &::placeholder {
    font-style: italic;
  }
}

.width-fixer {
  display: flex;
}
