.bordered-box {
  border: 1px solid $color--border-shadow;
  border-radius: $border-radius;
}

.button {
  @extend .headline--1;
  @extend .invert;
  border-radius: $border-radius;
  box-shadow: $box-shadow, $box-shadow, $box-shadow;
  line-height: 1.25;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap-gap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.h2 {
  @extend .headline--1;
  margin-bottom: 0.5rem;
  text-indent: 0.5rem;
}

.headline--1 {
  font-family: $font-family--headline;
  font-size: $font-size--large;
  font-weight: 600;
}

.headline--2 {
  color: $color--em;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: 400;
}

.invert {
  background-color: $color;
  color: $bg;
}

.max-width {
  max-width: 960px;
  width: 100%;
}

.main__section {
  @extend .flex-column;
  gap: 2rem;
  padding: $padding--large;
}

.tabbed-box {
  @extend .bordered-box;
  display: flex;
  &__tab-titles {
    @extend .flex-column;
    border-right: 1px solid $color--border-shadow;
    list-style: none;
  }
  &__tab-title {
    @extend .headline--2;
    display: flex;
    &.selected {
      background-color: $bg--em;
    }
    &.selected,
    &:hover {
      color: $color;
    }
    label {
      padding: $padding--medium;
      flex-grow: 1;
    }
    input {
      display: none;
    }
  }
  &__tab-contents {
    flex-grow: 1;
    padding: 0.5rem;
  }
  &__tab-content {
    display: none;
    &.selected {
      display: block;
    }
  }
}

.yellow-selection {
  border-radius: $border-radius;
  color: $color--em;
  font-family: $font-family--monospace;
  line-height: 1.25;
  outline: 1px solid #0000;
  overflow: hidden;
  padding: $padding--small;
  position: relative;
  transform: translate(0);
  &:hover {
    color: $color;
    outline-color: $color--border-shadow;
  }
  &::before {
    background-color: $color--primary;
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-105%);
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 80ms;
    width: 100%;
    z-index: -1;
  }
  input {
    display: none;
  }
  &.selected {
    box-shadow: $box-shadow--yellow, $box-shadow;
    color: $color;
    &:hover {
      outline: none;
    }
    &::before {
      transform: translateX(0%);
    }
  }
}
