$bg: #ffffff;

$color: #15181a;
$color--em: #737578;

$border--t1: #0001;
$border--t2: #0002;
$border--t3: #0006;

$shadow--blue: #80c0ff80;

$font-size--s: 14px;
$font-size--m: 16px;
$font-size--l: 20px;

$font--base: "Roboto", sans-serif;
$font--title: "Oleo Script", serif;
$font--subtitle: $font--base;
$font--monospace: "Courier Prime", serif;

$time--m: 120ms;

$max-w: 640px;
